__pycache__/
venv/
*.ui
genai-tag-db-tools.pyproject
genai-tag-db-tools.pyproject.user

#database backup files
tags_v3.db.*

#workspace file
genai-tag-db-tools.code-workspace
.vscode/settings.json

# Maintenance
tools
tags_csv
.pylintrc
