__pycache__/
venv/
genai-tag-db-tools.pyproject
genai-tag-db-tools.pyproject.user
initial-analysis.json

#database backup files
tags_v3.db.*

#workspace file
.pytest_cache/
.vscode/
.git/
genai-tag-db-tools.code-workspace
.vscode/settings.json

#データソース
tags_csv/
